<div>
  <h3> Welcome <%= @name %> </h3>
</div>
<div>
  <form action="/new" method="get">
    <input type="submit" name="New">
  </form>
  <form action="/view" method="get"
    <input type="submit" name="View">
  </form>
</div>
