<div>
  <h1>Welcome to Messaging World:</h1>
</div>

<div>
  <p>Recent messages:</p>
  <p><%=@message %></p>
</div>

<div>
  <form action="/messages" method="post">
      <label>Enter message:</label> <br>
      <textarea name="content" rows="5" cols="80"></textarea> <br>
      <input type="submit" name="Submit" value="Submit">
  </form>
  <% @messages.reverse.each do |message| %>
  <div>
    <%= message.content %> | <%= message.time %>
  </div>
  <% end %>
</div>
