<div>
  <h1>Welcome to Messaging World</h1>
</div>
<div>
  <form action="/board" method="post">
      <label>Enter name:</label>
      <input type="text" name="name">
      <input type="submit" name="Log in" value="Log in">
  </form>
</div>
