  <div id='wrapper'>
    <h1>A MESSAGE APP</h1>
    <form action="/message" method="post">
      <input type="text" name="content">
      <input type='text' name='tag'>
      <input type="submit" value="Create">
    </form>
    <div id = 'messages-container'>
      <% @messages.reverse.each do |message| %>
        <div class = 'message'>
          <%= message.created_at %>:<p><%= message.twenty_chars %></p><a href=<%="/messages/#{message.id}"%>>view</a>
        </div>
      <% end %>
    </div>
    <% @tags.each do|tag| %>
      <%= tag.content %>
    <% end %>
   
  </div>
 