<div>
  <h1>Welcome to Messaging World</h1>
</div>

<div>
  <p>Recent messages:</p>
</div>

<div>
  <form action="/" method="">
      <label>Enter message:</label> <br>
      <textarea name="message" rows="5" cols="80"></textarea> <br>
      <input type="submit" name="Submit" value="Submit">
  </form>
</div>
