

    <h1>A MESSAGE APP</h1>
      <div>
        <%= @message.created_at %>: <span><%= @message.content %></span>
        <div id = 'button-container'>
          <button type="button" id='edit_button'> edit</button> 
          <a id='delete' href="<%= url("/delete")%>">delete</a>
        </div>
        <form id='edit_form' action ='/update_message' method ='post' >
          <input type='text' name='update' id='update_message'>
          <input type="submit" value="Update">
        </form>
      </div>

      <!--- JS -->
      <script src ="<%= url("scripts/update_form.js")%>"></script>
      

